extend ../layout

block title
	| Program - #{program.name}

block content
	div.well
		h1 #{program.name}
		p
			strong #{program.human_start_time}
		h5.small #{program["b-line"].toUpperCase()}
		button(class="remove btn btn-warning")
			i.icon-trash.icon-white
			|  Remove
		div.sure.hidden
			form(action='/programs/#{program._id}', method='POST')
				input(type="hidden" name="_method" value="delete")
				button(type="submit" class="btn btn-info")
					i.icon-ok.icon-white
					|  Really?
				button(type="button" class="abort btn btn-inline")
					| Hell No!
		hr
		div.row
			div.span6
				h4 LEAD TEXT
				p #{program.leadtext}
				h4 SYNOPSIS
				p #{program.synopsis}	
		hr
		a(href="/programs" class="btn btn-info")
			i.icon-list.icon-white
			|  Back to the list